<html lang="en">
    <head>
        <title>AI Based Chatbot to Answer University Related FAQ's</title>
        <link rel="stylesheet" href="../static/css/stylesheet.css"> 
    </head>
    <body>
        <div>
        <a href="https://mlritm.ac.in"><img src="../static/mlritm.png"></a>
        <h1 id="heading" align="center">
            AI Based Advacend Talk Chatbot to Answer FAQ's<br></h1>
        <h3 id="creator" align="right"> By Shreyash Karwa - 207Y1A05A9 <br>
                Ajay Kumar    - 207Y1A0564 <br>
        </h3><hr id="line">
        </div>
        <p id="para">
            This is an AI Based Talk Chatbot that can answer frequently asked questions (FAQ's) for a college or university,
            such as admission process, course details, fees structure, campus facilities, scholarships, and much more. <br><br><br><br>
            To use the chatbot click the below button <br>⬇
        </p>
        <form class="grid" action="/result" method="POST">
            <center><input type="submit" class="file_submit" value="Cick here"></center>
        </form>
    </body>
</html>